@tailwind base;
@tailwind components;
@tailwind utilities;

/* 다크/라이트 배경 처리 */
@layer base {
  body {
    @apply bg-white dark:bg-[#2B2B30];
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
